body {
width: 1280px;
background: #D5D8DC;
}

#Cabecera {
width: 1280px;
background: #229954;
}

#menu {
text-align: right; 
margin: 5px;
padding: 5px;
}

#menu li {
display:inline-block;
list-style: none; 
margin: 5px;
padding: 5px;
}

#logo {
position: absolute;
top: -8px;
left: 15px;
color: white;
}

#logo:hover{
color: #229954;
background: white;
}

#articulo1 {
float:left;
width: 610px;
background: rgba(34,153,84,0.4);
margin: 10px;
padding: 5px;
text-align: center;
}

#articulo2 {
float:left;
width: 610px;
background: rgba(34,153,84,0.4);
margin: 10px;
padding: 5px;
text-align: center;
}

#articulo3 {
float:left;
width: 610px;
background: rgba(34,153,84,0.4);
margin: 10px;
padding: 5px;
text-align: center;
}

#articulo4 {
float:left;
width: 610px;
background: rgba(34,153,84,0.4);
margin: 10px;
padding: 5px;
text-align: center;
}

#articulo5 {
float:left;
width: 610px;
background: rgba(34,153,84,0.4);
margin: 10px;
padding: 5px;
text-align: center;
}

#articulo6 {
float:left;
width: 610px;
background: rgba(34,153,84,0.4);
margin: 10px;
padding: 5px;
text-align: center;
}

.zoom {
transition: 1.5s ease;
}

.zoom:hover{
transform: scale(1.2);
}  
